body {
    background-color: #011212;
}

:root {
    --base-color: aqua; 
    --position-central: translateX(center), translateY(center);
    --squared-object: border-radius(none);
    --basic-border: 5px solid blue;
}

.ball {
    border: var(--basic-border, 1px solid yellow);
    width: 100px;
    height: 100px;
    background-color: var(--base-color, #ff8800);
    border-radius: var(--squared-object, 50px);
    
}
